#cricgrnd{
display: block;
margin: 0 auto;
}

body {
background-color:#336699;
}

.fore-ground{
    position: relative;
}

#cricgrnd{
position: fixed;
top:5px;
left:391px;    
height: auto;
}
/* .fieldPix{
    height: 15px;
    width: 15px
}

.postionName{
    height: 100px;
    width: 100px
}

.fore-ground .fieldPosDiv{
    position:absolute;
    top:487px;
    left:524px;
  } */